.author {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;

  .author-presentation {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .author-logo {
      max-width: 60px;
      height: auto;
      margin-right: 12px;
    }

    h4 {
      font-size: 20px;
      margin: 0;
    }

    a {
      display: block;
      color: #007bff;
      text-decoration: none;
      margin-top: 5px;
    }
  }

  .author-socials {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;


    li {
      margin: 0 12px;

      a {
        color: #333;
        text-decoration: none;

        svg {
          max-width: 35px;
          color: white;
        }

        &:hover svg {
          transition: transform 2s ease;
          transform: rotateY(360deg);
        }
      }
    }
  }
}
