

//primary
// regent blue
$regent-50: #f3f8fc;
$regent-100: #e6f1f8;
$regent-200: #c7e2f0;
$regent-300: #9fcfe6;
$regent-400: #5dafd3;
$regent-500: #3895bf;
$regent-600: #2878a1;
$regent-700: #216083;
$regent-800: #1f526d;
$regent-900: #1f455b;
$regent-950: #152c3c;

// accent color
// monza red
$monza-50: #fff0f1;
$monza-100: #ffdde0;
$monza-200: #ffc1c6;
$monza-300: #ff959e;
$monza-400: #ff5967;
$monza-500: #ff2639;
$monza-600: #fc061b;
$monza-700: #d00012;
$monza-800: #af0514;
$monza-900: #900c17;
$monza-950: #500007;

//secondary
// pale gris
$pale-50: #f5f6f6;
$pale-100: #e5e7e8;
$pale-200: #cdd1d4;
$pale-300: #aab0b6;
$pale-400: #808990;
$pale-500: #6c757d;
$pale-600: #565c64;
$pale-700: #4a4f54;
$pale-800: #414449;
$pale-900: #3a3c3f;
$pale-950: #242628;




// light mode 

$primary-50: $regent-50;
$primary-100: $regent-100;
$primary-200: $regent-200;
$primary-300: $regent-300;
$primary-400: $regent-400;
$primary-500: $regent-500;
$primary-600: $regent-600;
$primary-700: $regent-700;
$primary-800: $regent-800;
$primary-900: $regent-900;
$primary-950: $regent-950;

$accent-50: $monza-50;
$accent-100: $monza-100;
$accent-200: $monza-200;
$accent-300: $monza-300;
$accent-400: $monza-400;
$accent-500: $monza-500;
$accent-600: $monza-600;
$accent-700: $monza-700;
$accent-800: $monza-800;
$accent-900: $monza-900;
$accent-950: $monza-950;

$secondary-50: $pale-50;
$secondary-100: $pale-100;
$secondary-200: $pale-200;
$secondary-300: $pale-300;
$secondary-400: $pale-400;
$secondary-500: $pale-500;
$secondary-600: $pale-600;
$secondary-700: $pale-700;
$secondary-800: $pale-800;
$secondary-900: $pale-900;
$secondary-950: $pale-950;


// dark mode

$primary-dark-50: $regent-950;
$primary-dark-100: $regent-900;
$primary-dark-200: $regent-800;
$primary-dark-300: $regent-700;
$primary-dark-400: $regent-600;
$primary-dark-500: $regent-500;
$primary-dark-600: $regent-400;
$primary-dark-700: $regent-300;
$primary-dark-800: $regent-200;
$primary-dark-900: $regent-100;
$primary-dark-950: $regent-50;

$accent-dark-50: $monza-950;
$accent-dark-100: $monza-900;
$accent-dark-200: $monza-800;
$accent-dark-300: $monza-700;
$accent-dark-400: $monza-600;
$accent-dark-500: $monza-500;
$accent-dark-600: $monza-400;
$accent-dark-700: $monza-300;
$accent-dark-800: $monza-200;
$accent-dark-900: $monza-100;
$accent-dark-950: $monza-50;

$secondary-dark-50: $pale-950;
$secondary-dark-100: $pale-900;
$secondary-dark-200: $pale-800;
$secondary-dark-300: $pale-700;
$secondary-dark-400: $pale-600;
$secondary-dark-500: $pale-500;
$secondary-dark-600: $pale-400;
$secondary-dark-700: $pale-300;
$secondary-dark-800: $pale-200;
$secondary-dark-900: $pale-100;
$secondary-dark-950: $pale-50;


