.container
  max-width: $media-2xl
  padding: 0 20px
  margin: 0 auto

$transition-duration: 0.3s

.dark
  .link-accent
    color: $accent-dark-800
    &:hover
      color: $accent-dark-700
    &.internal-link
      border-bottom: 3px solid $accent-700
      &:hover
        border-bottom: 2px solid $accent-700

.link-accent
  color: $accent-800
  text-decoration: none
  transition: color $transition-duration
  &:hover
    color: $accent-700
    text-decoration: underline
    &.internal-link
      font-weight: bold
      border-bottom: 3px solid $accent-700
      &:hover
        border-bottom: 2px solid $accent-700
