.tool-card
  display: flex
  flex-direction: column
  align-items: center
  gap: 6px

  .tool-logo
    max-width: 36px
    height: auto

    svg

  .tool-name
    line-height: 0
    font-size: 14px
    text-align: center
