@use '../../styles/colors' as *

.header
  color: $primary-700
  &.dark
    color: $primary-dark-900

  &-centered
    max-width: 1356px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

    .logo
      width: 40px
      height: 40px
      margin:
        left: 16px
        right: 16px
      svg
        width: 100%
        height: 100%
    nav
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center

// .hero__img
//   position: absolute
//   object-fit: cover
//   top: 0px
//   left: 0px
//   width: 100vw
//   height: 100vh
//   z-index: -1
//   opacity: .6
