@use '../../../styles/_media' as *

.weather-list
    margin:
        top: 80px
        bottom: 100px

    display: grid
    grid-gap: 20px
    justify-content: space-around
    grid-template-columns: repeat(1fr, 1fr)
    position: relative

@media screen and ( min-width: $media-lg)
    .weather-list
        grid-template-columns: repeat(2, 1fr)

@media screen and ( min-width: $media-xl)
    .weather-list
        grid-template-columns: repeat(3, 1fr)
