@use '../../styles/colors' as *

.footer
	background-color: $primary-50
	padding: 20px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	// margin-top: auto

	&.dark
		background: $primary-950

	&>*:hover
		box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px
		border-radius: 10px
		background: lighten($primary-950, 3%)

	.footer-legal
		flex-basis: 100%
		padding: 12px
		font-size: 14px


	@media screen and (max-width: 768px)
		flex-direction: column

		.footer-legal
			margin-top: 0
			padding-top: 0
			border-top: none
