@use '../../../styles/colors' as *
@import '../../../styles/_utility'

body
    &.dark
        .weather-card
            background-color: $primary-dark-200

.weather-card
    background-color: $primary-200
    border-radius: 10px
    padding: 20px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px
