.tool-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    .tool-dev__list{
        display:flex;
        flex-direction: raw;
        flex-wrap: wrap;
    }
  }